# Frontend: 
 /frontend/** @windneverstops @V01DBREAKER @seba0205

# Backend:
 /backend/** @windneverstops @aallendarmawan @seba0205

# Specific, specialised component:
 /frontend/src/components/canvas/** @V01DBREAKER

# Config files
 /.github/** @windneverstops
 /.husky/** @windneverstops

# Fallback:
 * @windneverstops
